/.classpath
/.project
/*.iml
/*.iws
/*.ipr
target
target/*
/.*.swp
/.idea
var/
/*.ipr
/*.iws
/*.DS_Store
*/*.DS_Store
.factorypath
*/.settings/*
.settings/*
*/.classpath
*/.project
*/.factorypath
*/*.class
